body {
  text-align: center;
  background-color: #4100B4;
  color: #FBFFBA;
}

h3 {
  text-align: center;
}

.container {
  width: 50%;
  text-align: center;
  margin: auto;
  color: black;
}

.badInput {
  color: red;
}

#testOptions, #settingsForm {
  text-align: left;
  padding: 2%;
}

#test {
  background-color: #E0FFFF;
  padding: 2%;
}

#testInputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#testOptions {
  background-color: #FFFACD;
}

#settingsForm {
  background-color: #E6E6FA;
}